{% extends 'restaurant/restaurant_base.html' %}
{% load bootstrap4 %}

{% block title %}Account{% endblock  %}


{% block body %} 
<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card shadow text-white mb-3 mt-5">
            <div class="card-header text-center">
                <h5 class="m-0 font-weight-bold text-block">Account</h5>
            </div>
            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form account_form %}
                    {% bootstrap_form restaurant_form %}
                    <button type="submit" class="btn btn-black btn-hover float-right">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock  %}
