

{% extends 'restaurant/restaurant_base.html' %}

{% block title %}Order{% endblock  %}


{% block body %} 
<h1>Restaurant Order List</h1>

<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card shadow text-white mb-3 mt-5">
            <div class="card-header text-center">
                <h5 class="m-0 font-weight-bold text-block">List of orders</h5>
            </div>
            <div class="card-body">


                <table class="table table-striped table-hover table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Order details</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                        <th scope="col">Change Status</th>

                      </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr class = "align-middle">
                            <th scope="row">{{order.id}}</th>
                            <td>
                                {% for orderdetail in order.order_infos.all %}
                                    {{orderdetail.foodItem.name}}:${{orderdetail.foodItem.price}}*{{orderdetail.quantity}}=${{orderdetail.subtotal}}
                                    <br>
                                {% endfor %}
                            </td>
                            <td>{{order.customer}}</td>
                            <td>${{order.price}}</td>
                            <td>{{order.get_status_display}}</td>
                            <td>
                                {% if order.status == 1 %}
                                    <form action="" method="post">
                                    {% csrf_token %}
                                    <input name="id" value="{{ order.id }}" hidden>
                                    <button class="btn btn-black btn-sm">Ready</button>
                                    </form>
                                {% endif %}
                                {% if order.status == 2 %}
                                    <form action="" method="post">
                                    {% csrf_token %}
                                    <input name="id" value="{{ order.id }}" hidden>
                                    <button class="btn btn-black btn-sm">Picked</button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
{% endblock  %}
