{% extends 'restaurant/restaurant_temp.html' %}
{% block page_title %}
<div class="text-center mt-4">
    <img src="{{request.user.restaurant.logo.url }}" class = "rounded-circle" width="80" height="80" alt="">
    <br><br>
    <h5>{{request.user.get_full_name}}</h5>
    <h5>{{request.user.restaurant.name}}</h5>

</div>
<hr>

<div class="list-group">
    <span class="text-uppercase">Dashboard</span>
    {% url 'restaurant_order' as orderurl%}
    {% url 'restaurant_meal' as mealrurl%}
    {% url 'restaurant_report' as reporturl%}
    {% url 'restaurant_account' as accounturl%}

    <a href="{% url 'restaurant_meal'%}" class = "list-group-item {%if request.path == mealrurl %} active {% endif %}" > Food Items </a>
    <a href="{% url 'restaurant_report'%}" class = "list-group-item {%if request.path == reporturl %} active {% endif %}" > Report </a>
    <a href="{% url 'restaurant_order'%}" class = "list-group-item {%if request.path == orderurl %} active {% endif %}"> 
        Order List 
        <span class="badge badge-warning ml-2">
            New Orders!
        </span>
    </a>
    <span class="text-uppercase">Profile</span>
    <a href="{% url 'restaurant_account'%}" class = "list-group-item {%if request.path == accounturl %} active {% endif %}"> Account </a>

</div>
<div class="text-center my-3 mx-3">
    <a href="{% url 'restaurant_logout'%}" class = "btn btn-warning btn-block"> Logout </a>
</div>



{% endblock  %}